# JWT
JWT_KEY=tu_clave_secreta_base64
JWT_EXPIRATION=3600000
JWT_INVITATION_EXPIRATION=604800000

# MongoDB
MONGODB_URI=mongodb+srv://usuario:contraseña@cluster.mongodb.net/TaskFlow

# Mail (Gmail SMTP)
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=tu_correo@gmail.com
MAIL_PASSWORD=tu_contraseña_de_aplicacion

# App
APP_BASE_URL=http://localhost:8080
